header {
  height: 620px;
  position: relative;
  .container {
    position: relative;
    height: 100%;
    padding-top: 37px;
  }
  .mom {
    width: 666px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    img {
      display: block;
      width: 106%;
      position: absolute;
      top: -30px;
      right: -37px;
      transform: rotate(-12deg);
    }
  }
  .where-buy {
    height: 42px;
    width: 275px;
    background: #FF783A;
    color: #FFFFFF;
    display: flex;
    text-decoration: none;
    border-radius: 21px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
  }
  .nav-logo {
    display: flex;
    align-items: center;
    height: 123px;
  }
  .logo-wrap {
    height: 100%;
    border-right: 1px solid #FF783A;
    padding-right: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo-cont {
    width: 300px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .menu {
    list-style: none;
    margin: 0;
    padding-left: 25px;
    line-height: 32px;
    a {
      color: #221f85;
      font-size: 23px;
      text-decoration: none;
    }
  }
  .block-quot {
    background-image: url("../img/blockquot.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 540px;
    height: 270px;
    font-size: 43px;
    font-family: 'SansRoundedC';
    color: #013ca6;
    text-align: center;
    padding-top: 52px;
    position: absolute;
    top: 240px;
    line-height: 50px;
    sup {
      font-size: 28px;
    }
    span {
      color: #ff783a;
    }
    &:after {
      content: "";
      border: 30px solid transparent;
      border-left: 30px solid #F1F1F1;
      position: absolute;
      right: -51px;
      top: 51%;
      transform: rotate(8deg);
    }
  }
}