@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700&subset=cyrillic-ext');
*{
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
.about-prod {
  height: 1010px;
  background: #FF783A;
  padding: 100px 0;
  .container {
    position: relative;
  }
  h3 {
    margin: 70px 0 0 0;
    color: #ffffff;
    font-size: 75px;
    padding-left: 100px;
    sup {
      font-weight: 400;
      font-size: 55px;
    }
  }
  .comb {
    height: 320px;
    width: 285px;
    text-align: center;
    background-image: url("../img/bg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    .img-cont {
      margin-top: -30px;
    }
    &.baby {
      background-image: url("../img/baby.png");
    }
    .text {
      color: #ce7100;
      width: 210px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
    }
  }
  .promotes {
    font-size: 33px;
    line-height: 47px;
    color: #FFFFFF;
    font-weight: 300;
    width: 400px;
    position: absolute;
    top: 509px;
    right: 78px;
  }
}

.blue-block {
  height: 443px;
  background: #013CA6;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .text-img {
    height: 161px;
    display: flex;
    align-items: center;
  }
  .text {
    color: #FFFFFF;
    font-size: 45px;
    width: 367px;
    padding-left: 43px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    border-right: 1px solid #008AD9;
    b {
      font-weight: 700;
      font-size: 73px;
      sup {
        font-weight: 400;
        font-size: 29px;
      }
    }
  }
  .img-cont {
    width: 630px;
    margin-left: 123px;
    img {
      width: 100%;
      display: block;
    }
  }
}
.advantages {
  padding-top: 67px;
  padding-bottom: 100px;
  h3 {
    margin: 0 0 37px 0;
    font-size: 50px;
    color: #273b94;
    font-weight: 700;
    text-align: center;
  }
  img {
    display: inline-block;
    width: 237px;
  }
  .squares {
    display: flex;
  }
  .col-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 646px;
  }
  .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    transition: all 0.2s ease;
    position: relative;
    cursor: pointer;
    .hover-b {
      transition: all 0.2s ease;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to left,rgba(248,118,61,0.7),rgba(39,59,148,0.7));
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 30px;
      h5 {
        color: #FFFFFF;
        font-size: 28px;
        font-weight: 700;
        margin: 0 auto 13px auto;
      }
      .text {
        color: #FFFFFF;
        margin: 0 auto;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        font-weight: 300;
      }
    }
    &:hover {
      z-index: 9;
      box-shadow: 0px 0px 51px 0px rgba(40,15,3,1);
      .hover-b {
        opacity: 1;
      }
    }
  }
  .mchild {
    height: 440px;
  }
  .recommendations {
    background-image: url("../img/download.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc( 100% - 440px );
    display: flex;
    align-items: center;
    justify-content: center;
    .download {
      height: 48px;
      width: 250px;
      background: #FF783A;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #FFFFFF;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 24px;
    }
  }
}
.how-to-use {
  background: #273B94;
  height: 754px;
  padding: 55px 0 100px 0;
  h3 {
    margin: 0 0 46px 0;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    img {
      width: 240px;
      display: inline-block;
    }
  }
  .col-2 {
    width: 50%;
    &:first-child {
      padding-right: 20px;
    }
    &:last-child {
      padding-left: 20px;
    }
  }
  .pills-cont {
    display: flex;
    width: 100%;
  }
  .one-pills {
    min-height: 218px;
    background: #FF783A;
    padding: 27px;
    display: flex;
    &:first-child {
      margin-bottom: 48px;
    }
  }
  .cause {
    flex-grow: 1;
    font-size: 34px;
    line-height: 35px;
    color: #FFFFFF;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  .manual {
    min-width: 180px;
    border-left: 1px solid #FEB362;
    color: #FFFFFF;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tabs {
    display: flex;
    width: 100%;
    height: 35px;
    img {
      display: block;
      width: 34px;
      margin-right: -4px;
      &:first-child {
        margin-left: -7px;
      }
    }
  }
  .large-manual {
    background: #FFFFFF;
    padding: 35px;
    height: 100%;
    h5 {
      font-size: 33px;
      margin: 0 0 50px 0;
      font-weight: 700;
      text-align: center;
      color: #ff783a;
    }
    .cols {
      display: flex;
      width: 100%;
    }
    .col-2 {
      padding: 0 15px 0 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .img-cont {
      width: 100px;
      margin-bottom: 12px;
    }
    .num {
      background: #E9E9E9;
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ff783a;
      font-size: 33px;
      font-weight: 700;
      border-radius: 33px;
      margin-bottom: 34px;
    }
    .descr {
      font-size: 20px;
      line-height: 30px;
      color: #ff783a;
    }
  }
}